.box{
    position:relative;
    display: flex;
    border-style: solid;
    flex-direction: column;
    border-width: 10px;
    border-color: seagreen;
    background-color:lavenderblush;
    width:600px;
    height:300px;
    margin:10px;
}

.quiz{
    position:absolute;
    left:5px;
    top:120px;
}

.answer {
    position:absolute;
    display:none;
    top:120px;
    left:5px;
}

.back{
    position:fixed;
    background-color:dimgrey;
    width:100%;
    height:100%;

}




.container {
    display: flex;
    width: 100%; /* 横幅全体をカバー */
    height: 100vh; /* 画面全体の高さ */
}

.sidebar {
    background-color: lightgray;
    width: 25%; /* 左右の幅を設定 */
}

.content {
    background-color: white;
    width: 50%; /* 中央の幅を設定 */
    padding: 20px;
}

#home{
    position:fixed;
    top:83.5%;
    left:1.3%;
    background-color:black;
    color:yellow;
    font-size:large;
    
    padding-inline: 30px;
    padding-block: 10px;
    border-radius:10px;

}

#notice{
    position:fixed;
    top:83.5%;
    left:21%;
    background-color:black;
    color:yellow;
    font-size:large;
    
    padding-inline: 70px;
    padding-block: 10px;
    border-radius:10px;

}

#practice{
    position:fixed;
    top:83.5%;
    left:41%;
    background-color:black;
    color:yellow;
    font-size:large;
    
    padding-inline: 90px;
    padding-block: 10px;
    border-radius:10px;

}

#experience{
    position:fixed;
    top:83.5%;
    left:60.5%;
    background-color:black;
    color:yellow;
    font-size:large;
    
    padding-inline: 103px;
    padding-block: 10px;
    border-radius:10px;

}

#yell{
    position:fixed;
    top:83.5%;
    left:80.7%;
    background-color:black;
    color:yellow;
    font-size:large;
    
    padding-inline: 65px;
    padding-block: 10px;
    border-radius:10px;

}

.bigBox{
    font-size: large;
    background-color: brown;
    color:white;
    margin:10px;
    background-size: 20px;
}

